<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=US-ASCII">
<title>Insert title here</title>

<link href="css/style.css" rel="stylesheet" type="text/css"  media="all" />
		<meta name="keywords" content="Mobilestore iphone web template, Andriod web template, Smartphone web template, free webdesigns for Nokia, Samsung, LG, SonyErricsson, Motorola web design" />
		<link href='http://fonts.googleapis.com/css?family=Londrina+Solid|Coda+Caption:800|Open+Sans' rel='stylesheet' type='text/css'>
		<link rel="stylesheet" href="css/responsiveslides.css">
		<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.8.3/jquery.min.js"></script>
		<script src="js/responsiveslides.min.js"></script>
<style type="text/css">

.alignleft {
	float: left;
}
.alignright {
	float: right;
}

</style>
		
</head>
<body style="font-size:8px;">



		<div class="footer">
			<div class="wrap">
			<div class="section group">	
			<br>	
				<div class="col_1_of_4 span_1_of_4 footer-lastgrid" style="color:#ffffff; ">				
			<!-- 		<h3 style="color:#ffffff; font-size:15px;">Follow us on:</h3>  -->
				<p class="alignleft">		Follow us on:
					 	<a href="#"><img src="img/twitter.png" title="twitter" />Twitter</a>
					 	<a href="#"><img src="img/facebook.png" title="Facebook" />Facebook</a></p>				 													 					 
				
				<p class="alignright">PrototypePro  &#169	 All Rights Reserved</div></p>
				<div style="clear: both;"></div>
			</div>
		</div>
		</div>


</body>
</html>